html, body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.container {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

h1 {
  position: relative;
  margin-bottom: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #fd0000;
  text-align: center;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 1.7s ease;
  filter: blur(1px);
  border-radius: 25px;
}
.item:hover {
  flex: 20;
  filter: blur(0px);
}

.item-1 {
  background-image: url(./IMAGENS/ADV.jpeg);
}

.item-2 {
  background-image: url(./IMAGENS/Biz\ 110i.jpeg);
}

.item-3 {
  background-image: url(./IMAGENS/Biz\ 125.jpeg);
}

.item-4 {
  background-image: url(./IMAGENS/CB\ 300F\ Twister\ ABS.jpeg);
}

.item-5 {
  background-image: url(./IMAGENS/CB\ 650R.jpeg);
}

.item-6 {
  background-image: url(./IMAGENS/CG\ 160\ Fan.webp);
}

.item-7 {
  background-image: url(./IMAGENS/CG\ 160\ Titan.webp);
}

.item-8 {
  background-image: url(./IMAGENS/NXR\ 160\ Bros\ ESDD.png);
}

.item-9 {
  background-image: url(./IMAGENS/ADV.jpeg);
}

.item-10 {
  background-image: url(./IMAGENS/POP\ 110i\ ES.webp);
}

.item-11 {
  background-image: url(./IMAGENS/XRE\ 190.jpeg);
}

.item-12 {
  background-image: url(./IMAGENS/Sahara\ 300\ Rally.webp);
}

.item-13 {
  background-image: url(./IMAGENS/CB\ 500X.webp);
}

.social {
  position: absolute;
  right: 35px;
  bottom: 0;
}
.social img {
  display: block;
  width: 32px;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(0, 100%, 50%);
  position: center;
  margin-bottom: 1px;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
header {
  padding: 20px; /* Espaçamento interno do cabeçalho */
  text-align: center; /* Alinhamento centralizado do texto */
  border-bottom: 2px solid #ffffff; /* Linha de borda inferior */
}

/* Estiliza o título do cabeçalho */
header h1 {
  margin: 0; /* Remove a margem padrão */
  font-size: 2em; /* Tamanho da fonte */
  color: #ffffff; /* Cor do texto */
}

/* Estiliza a legenda do cabeçalho */
header .legenda {
  margin: 0; /* Remove a margem padrão */
  font-size: 1em; /* Tamanho da fonte da legenda */
  color: #ffffff; /* Cor da legenda */
  font-style: italic; /* Estilo itálico para a legenda */
}

/* Estiliza o botão do WhatsApp */
.whatsapp-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #25d366; /* Cor de fundo do botão do WhatsApp */
  color: #fff; /* Cor do texto */
  font-size: 1.2em; /* Tamanho da fonte */
  text-decoration: none; /* Remove sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.whatsapp-button:hover {
  background-color: #1da851; /* Cor de fundo ao passar o mouse */
}

.whatsapp-button i {
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

